<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="NumberOfBinsClass" value="13"/>
    <add key="NumberOfBinsMethod" value="11"/>
  </appSettings>
</configuration>