<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
  
    <add key="LargeClass_LOC" value="200"/>
    <add key="LargeClass_ATFD" value="10"/>
    <add key="LargeClass_WMC" value="5"/>
    <add key="LargeClass_TCC" value="10"/>

    <add key="LongMethod_LOC" value="20"/>
    <add key="LongMethod_CYCLO" value="5"/>
    <add key="LongMethod_MAXNESTING" value="0"/>
    <add key="LongMethod_NOAV" value="5"/>

    <add key="FeatureEnvy_ATFD" value="3"/>
    <add key="FeatureEnvy_LAA" value="3"/>
    <add key="FeatureEnvy_FDP" value="4"/>
  
  </appSettings>
  
</configuration>